<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand brand-custom" href="#">Food stock Header</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link register-custom" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link register-custom" routerLink="/create">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link register-custom" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link register-custom" routerLink="" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
