<div class="form-group">
  <button type="button" class="btn btn-block" (click)="signInWithGoogle()">
    <i class="fa fa-google" aria-hidden="true"></i>
    Login with Google
  </button>
  <button type="button" class="btn btn-block" (click)="signInWithFacebook()">
    <i class="fa fa-google" aria-hidden="true"></i>
    Login with Facebook
  </button>
</div>
