<div class="panel panel-primary">
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Food post text</label>
        <input type="text" class="form-control" formControlName="postText" #postText />
      </div>
      <div *ngIf="angForm.controls['postText'].invalid && (angForm.controls['postText'].dirty || angForm.controls['postText'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['postText'].errors.required">
          PostText is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Food post author</label>
        <input type="text" class="form-control" formControlName="postAuthor" #postAuthor/>
      </div>
      <div *ngIf="angForm.controls['postAuthor'].invalid && (angForm.controls['postAuthor'].dirty || angForm.controls['postAuthor'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['postAuthor'].errors.required">
          PostAuthor is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="addFood(postText.value, postAuthor.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>
