<div class="panel panel-primary">
  <div class="panel-body">

    <form [formGroup]="foodForm" novalidate>
      <div class="form-group">
        <label for="foodName">Food name</label>
        <input id="foodName" class="form-control" type="text"
               formControlName="postText"
               (change)="saveFoodChanges()"
               [ngClass]="{
                      'is-success' :  foodForm.get('postText').valid && foodForm.get('postText').dirty,
                      'is-danger'  :  !foodForm.get('postText').valid
                    }">

        <p class="error is-danger" [hidden]="foodForm.get('postText').valid">
          Name is required
        </p>
      </div>

      <div class="form-group">
        <label for="foodPrice">Food price</label>
        <input id="foodPrice" class="form-control" type="text"
               formControlName="postAuthor"
               (change)="saveFoodChanges()"
               [ngClass]="{
                      'is-success' :  foodForm.get('postAuthor').valid && foodForm.get('postAuthor').dirty,
                      'is-danger'  :  !foodForm.get('postAuthor').valid
                    }">

        <p class="error is-danger" [hidden]="foodForm.get('postAuthor').valid">
          Price is required
        </p>
      </div>

    </form>
    <div *ngFor="let image of foodImages">
      <div class="panel-body">
        <img src="{{image}}"style="max-width:350px"/>
      </div>
    </div>
    <p>
      <button (click)="goBack()">Back</button>
    </p>
  </div>
</div>
